.dialog {
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a.active {
        color: #c5c5c5;
    }


    &s {
        display: grid;
        grid-template-columns: 2fr 10fr;

        &Items {
            padding-left: 20px;
            padding-top: 10px;
        }
    }

}

.message {
    color: black;
    font-size: 17px;

    &s {
        padding: 10px;
    }
}