.selected{
    font-weight: bold;
    cursor: pointer;
}
.unselected{
    cursor: pointer;
}
.pagination{
    margin-left: 40vh;
}
button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}