.formControl.error {
    textarea input{
        border: solid red 2px;
    }
    span{
        color: red;
    }

}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #ff8080;
    text-align: center;
}