.header {
    grid-area: h;
    background-color: rgb(59, 0, 153);

    img {
        padding-left: 10px;
        padding-top: 7px;
        width: 45px;
    }
}

.loginBlock {
    float: right;
    color: aliceblue;
    margin-right: 10px;
    margin-top: 10px;

    a, button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: none;
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 95%;
        color: white;
    }
}

