.nav {
    grid-area: n;
    background-color: #0073e2;
    padding: 10% 25%;
}

.item {
    padding-top: 5px;
    a {
        color: white;
        text-decoration: none;
        
        img {
            width: 30px;
            height: 30px;
        }
    }

    a.active {
        color: #c5c5c5;
    }
}
