.nav {
    grid-area: n;
    background-color: #0073e2;
    padding: 10% 15%;
    text-align: center;
}

.item {
    padding-top: 5px;
    float: left;

    button {
        background-color: transparent;
        border: none;
    }

    a {
        color: white;
        text-decoration: none;

        img {
            width: 22px;
            height: 22px;
        }
    }

    a.active {
        button {
            color: #c5c5c5;
        }
    }
}
