.information {
    padding-left: 10px;
    margin-top: 10px;
    
    section{
        float: right;
        margin-right: 10px;
        text-decoration: none;
    }
}
.information{
    img{
        width: 350px;
        height: 350px;
    }
    
}

